body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

form input[type="text"],
form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

.completed {
    text-decoration: line-through;
}

.actions {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.actions button.delete-task {
    color: #dc3545;
}

.actions button.edit-task {
    color: #ffc107;
}

.actions button.complete-task {
    color: #28a745;
}

.actions button:hover {
    color: #007bff;
}

/* Cores adicionais */
button.delete-task:hover {
    color: #ff0000;
}

button.edit-task:hover {
    color: #ffbb33;
}

button.complete-task:hover {
    color: #00cc44;
}
